/* ↓ Reseting properties ↓ */

body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #FFF;
}

@media (min-width: 320px) {
	body {
		overflow-x: hidden;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}

/* ↑ Reseting properties ↑
————————————————————————————
  ↓ Containers styles ↓ */

.section {
	padding: 96px 0;
}

@media (min-width: 1158px) {
	.section {
		padding: 120px 0;
	}
}

.container {
	max-width: 320px;
	margin: 0 auto;
	padding: 0 16px
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 768px) and (max-width: 1157px) {
	.team .container,
	.footer-page .container {
		max-width: 584px;
	}
}

@media (min-width: 1158px) {
	.container {
		max-width: 1158px;
		padding: 0 15px
	}
}

/* ↑ Containers styles ↑
————————————————————————————
  ↓ Specyfic classes ↓ */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ↑ Specyfic classes ↑
————————————————————————————
	↓ Header page styles ↓ */

.header-page {
	border-bottom: 1px solid #E7E9FC;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-page .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav {
	display: flex;
	align-items: center;
}

.header-nav-list,
.header-contacts {
	display: none;
	align-items: center;
}

@media (min-width: 768px) {
	.header-nav-list,
	.header-contacts {
		display: flex;
	}
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	color: #4D5AE5;

	display: flex;
	align-items: center;
}

@media (min-width: 768px) {
	.header-page .logo {
		margin-right: 120px;
	}
}

@media (min-width: 1158px) {
	.header-page .logo {
		margin-right: 76px;
	}
}

.header-page .logo-part {
	color: #2E2F42;
}

.header-nav-list {
	display: none;
	gap: 40px;
}

@media (min-width: 768px) {
	.header-nav-list {
		display: flex;
	}
}

.header-nav-item {}

.header-nav-link {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2E2F42;
	text-decoration: none;

	
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
	font-style: normal;
}

.header-contacts-list {
	display: flex;
	flex-direction: column;
}

@media (min-width: 1158px) {
	.header-contacts-list {
		flex-direction: row;
		gap: 40px;
	}
}

.header-contacts-item {}

.header-contacts-link {
	font-size: 12px;
	line-height: 1.7;
	letter-spacing: 0.04em;
	color: #434455;
	text-decoration: none;

	
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1158px) {
	.header-contacts-link {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
}

.header-contacts-list
.header-contacts-item
.header-contacts-link {
	padding: 0;
}

.header-page .container a {
	box-sizing: content-box;
	height: 24px;
	padding: 16px 0;
}

@media (min-width: 768px) {
	.header-page .container a {
		display: flex;
		align-items: center;
		padding: 24px 0;
	}
}

.header-nav-item:first-child .header-nav-link {
	color: #404BBF;
	position: relative;
}

.header-page a:hover,
.header-page a:focus {
	color: #4D5AE5;
}

.header-nav-item:first-child .header-nav-link::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;

	border-radius: 2px;
	height: 4px;
	width: 48px;
	background-color: #404BBF;
}

/* ↓  Burger menu styles  ↓ */

.burger-menu {
	display: flex;
	border: none;
	background-color: transparent;
	padding: 0;
}

@media (min-width: 768px) {
	.burger-menu {
		display: none;
	}
}

.header-modal-overlay {
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	z-index: 999;

	opacity: 0;
	pointer-events: none;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
	opacity: 1;
	pointer-events: auto;
}

.header-modal {
	max-width: 320px;
	min-height: 640px;
	margin: auto;
	padding: 24px 24px 40px 16px;
}

.header-cross-button {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: auto;
	width: 24px;
	height: 24px;
	padding: 0;
	
	border-radius: 50%;
	background: transparent;
	border: 1px solid #E7E9FC;
}

.header-cross-svg {
	fill: #2E2F42;
}

.header-modal-nav {
	margin: 32px 0 168px;
}

.header-modal-nav-list {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.header-modal-nav-item {}

.header-modal-nav-link {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: #2E2F42;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal-nav-item:first-child .header-modal-nav-link {
	color: #404BBF;
}

.header-modal-contacts {
	font-style: normal;
}

.header-modal-contacts-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 48px;
}

.header-modal-contacts-item {}

.header-modal-contacts-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: #434455;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal-contacts-item:first-child .header-modal-contacts-link {
	color: #4D5AE5;
}

.header-modal-social-list {
	display: flex;
	justify-content: space-between;
}

.header-modal-social-item {
	display: flex;
	width: 40px;
	height: 40px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-modal-social-link {
	width: 100%;
	height: 100%;
	background-color: #4D5AE5;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal-social-icon {
	fill: #F4F4FD;
}

.header-modal-social-link:hover,
.header-modal-social-link:focus,
.header-modal-contacts-link:hover,
.header-modal-contacts-link:focus,
.header-modal-contacts-item:first-child .header-modal-contacts-link:hover,
.header-modal-contacts-item:first-child .header-modal-contacts-link:focus {
	color: #4D5AE5;
}

.header-modal-social-link:hover,
.header-modal-social-link:focus {
	background-color: #404BBF;
}

/* ↑ Header page styles ↑
————————————————————————————
	↓ Hero section styles ↓ */

.hero {
	max-width: 320px;
	margin: auto;
	padding: 72px 0;

	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/img-phone-0.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (max-width: 767px) and (min-resolution: 192dpi) {
	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/img-phone-0@2x.jpg");
	}
}

@media (min-width: 768px) {
	.hero {
		max-width: 768px;
		padding: 112px 0;

		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/img-tablet-0.jpg");
	}
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/img-tablet-0@2x.jpg");
	}
}

@media (min-width: 1158px) {
	.hero {
		max-width: 1440px;
		padding: 188px 0;

		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/img-desk-0.jpg");
	}
}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/img-desk-0@2x.jpg");
	}
}

.hero-heading {
	max-width: 216px;
	margin: 0 auto 72px;

	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: #fff;
}

@media (min-width: 768px) {
	.hero-heading {
		max-width: 496px;
		margin: 0 auto 36px;
		font-size: 56px;
		line-height: 1.07;
	}
}

@media (min-width: 1158px) {
	.hero-heading {
		margin: 0 auto 48px;
	}
}

.hero-button {
	display: block;
	margin: auto;
	min-width: 169px;

	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding: 16px 32px;
	border-radius: 4px;
	border: none;
	color: #fff;
	background: #4d5ae5;
	
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-button:hover,
.hero-button:focus {
	background-color: #404bbf;
}

/* ↑ Hero section styles ↑
————————————————————————————
  ↓ Benefits section styles ↓ */

.benefits {}

.benefits-list {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

@media (min-width: 768px) and (max-width: 1157px) {
	.benefits-list {
		flex-flow: row wrap;
		gap: 72px 24px;
	}
}

@media (min-width: 1158px) {
	.benefits-list {
		flex-flow: row;
		gap: 24px;
	}
}

.benefits-item {}

@media (min-width: 768px) and (max-width: 1157px)	 {
	.benefits-item {
		flex-basis: calc((100% - 24px) / 2);
	}
}

.benefits-icon-container {
	display: none;
}

@media (min-width: 1158px) {
	.benefits-icon-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 112px;
		background-color: #F4F4FD;
		border-radius: 4px;
		border: 1px solid #8E8F99;
		margin-bottom: 8px;
	}
}

.benefits-subtitle {
	margin-bottom: 8px;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2E2F42;
}

@media (min-width: 1158px) {
	.benefits-subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		text-align: left;
	}
}

.benefits-desc {	
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

@media (min-width: 1158px) {
	.benefits-desc {
		font-weight: 400;
	}
}

/* ↑ Benefits section styles ↑
————————————————————————————
  ↓ Team section styles ↓ */

.team {
	background-color: #F4F4FD;
}

.team-heading {
	margin-bottom: 72px;
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2E2F42;
}

.team-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	text-align: center;
}

@media (min-width: 768px) {
	.team-list {
		justify-content: center;
		flex-flow: row wrap;
		gap: 64px 24px;
	}
}

.team-item {
	align-self: center;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-image-info {
	padding: 32px 0;
	background-color: #FFFFFF;
}

.employee-name {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.employee-position {
	margin-bottom: 8px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.team-social-list {
	display: flex;
	justify-content: center;
	gap: 24px
}

.social-item {
	width: 40px;
	height: 40px;
	display: flex;
}

.social-link {
	width: 100%;
	height: 100%;
	background-color: #4D5AE5;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.team .social-link:hover,
.team .social-link:focus {
	background-color: #404BBF;
}

.social-icon {
	fill: #F4F4FD;
}

/* ↑ Team section styles ↑
————————————————————————————
  ↓ Portfolio section styles ↓ */

.portfolio {}

.portfolio-heading {
	margin-bottom: 72px;
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2E2F42;
}

.portfolio-list {
	display: flex;
	flex-flow: row wrap;
	gap: 48px 24px;
}

@media (min-width: 768px) and (max-width: 1157px) {
	.portfolio-list {
		gap: 72px 24px;
	}
}

.portfolio-item {}

.portfolio-item {
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media (min-width: 1158px) {
	.portfolio-item {
		box-shadow: none;
	}

	.portfolio-item:hover {
		cursor: pointer;
		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	}
}

.overlay-box {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #F4F4FD;
	padding: 40px 28px;
	background-color: #4D5AE5;
	height: 100%;
	width: 100%;
	transform: translateY(100%);
	
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1158px) {
	.overlay {
		padding: 40px 32px;
	}
}

.portfolio-info {
	text-align: center;
	padding: 32px 16px;
	border-right: 1px solid #E7E9FC;
	border-bottom: 1px solid #E7E9FC;
	border-left: 1px solid #E7E9FC;
}

@media (min-width: 768px) {
	.portfolio-info {
		text-align: left;
	}
}

.portfolio-name {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.portfolio-product {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.portfolio-item:hover .overlay {
	transform: translateY(0%);
}

/* ↑ Portfolio section styles ↑
————————————————————————————
  ↓ Footer styles ↓ */

.footer-page {
	padding: 96px 0;
	background-color: #2E2F42;
}

@media (min-width: 1158px) {
	.footer-page {
		padding: 100px 0;
	}
}

@media (min-width: 768px) and (max-width: 1157px) {
	.footer-page .container {
		display: flex;
		flex-flow: row wrap;
		gap: 72px 24px;
	}
}

@media (min-width: 1158px) {
	.footer-page .container {
		display: flex;
		align-items: baseline;
	}
}

.footer-web-info {
	margin-bottom: 72px;
}

@media (min-width: 768px) and (max-width: 1157px) {
	.footer-web-info {
		width: calc((100% - 24px) / 2);
		margin-bottom: 0;
	}
}

@media (min-width: 1158px) {
	.footer-web-info {
		width: 264px;
		margin-right: 120px;
		margin-bottom: 0;
	}
}

.footer-page .logo {
	text-align: center;
	display: block;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.footer-page .logo {
		text-align: left;
	}
}

.footer-page .logo-part {
	color: #F4F4FD;
}

.footer-desc {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #F4F4FD;
}

.footer-heading {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.footer-heading {
		text-align: left;
	}
}

.footer-social-info {
	margin-bottom: 72px;
}

@media (min-width: 768px) {
	.footer-social-info {
		margin-bottom: 0;
	}
}

@media (min-width: 1158px) {
	.footer-social-info {
		margin-right: 80px;
	}
}

.social-info-heading {}

.social-info-list {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.fotter-subscribe {}

@media (min-width: 768px) {
	.fotter-subscribe {
		flex-grow: 1;
	}
}

.footer-heading {}

.footer-form {}

@media (min-width: 768px) {
	.footer-form {
		display: flex;
		gap: 24px;
	}
}

.subscribe-label {
	display: block;
	text-align: center;
	margin-bottom: 16px;
}

@media (min-width: 768px) and (max-width: 1157px) {
	.subscribe-label {
		width: calc((100% - 24px) / 2);
	}
}

@media (min-width: 768px) {
	.subscribe-label {
		margin-bottom: 0;
	}
}

.subscribe-input {
	background-color: transparent;
	border: 1px solid rgba(225, 225, 225, 0.3);
	border-radius: 4px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

	padding-left: 16px;
	width: 264px;
	height: 40px;

	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: white;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1158px) {
	.subscribe-input {
		border: 1px solid rgba(225, 225, 225, 0.1);
	}
}

.subscribe-button {
	display: flex;
	gap: 16px;
	
	border: none;
	background-color: #4D5AE5;
	border-radius: 4px;
	padding: 8px 24px;
	margin: 0 auto;
	width: 165px;

	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #FFFFFF;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
	.subscribe-button {
		margin: 0;
	}
}

.subscribe-svg {
	fill: #FFFFFF;
}

.footer-page .social-link:hover,
.footer-page .social-link:focus {
	background-color: #31D0AA;
}

.subscribe-input::placeholder {
	color: #FFFFFF;
	opacity: 0.6;
}

@media (min-width: 1158px) {
	.subscribe-input::placeholder {
		opacity: 1;
	}
}

.subscribe-input:focus-within {
	border: 1px solid #4D5AE5;
	outline: transparent;
}

.subscribe-button:hover, 
.subscribe-button:focus {
	background: #404BBF;
}

/* ↑ Footer styles ↑
————————————————————————————
	↓ Modal styles ↓ */

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	z-index: 999;

	opacity: 0;
	pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
	opacity: 1;
	pointer-events: auto;
}

.modal {
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);

	padding: 72px 16px 24px;
	width: 288px;
	border-radius: 4px;
	background-color: #FCFCFC;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
	.modal {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		padding: 72px 24px 24px;
		width: 408px;
	}
}

.modal-cross {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	padding: 0;

	border-radius: 50%;
	background-color: #E7E9FC;
	border: 1px solid rgba(0, 0, 0, 0.1);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cross-svg {
	fill: #2E2F42;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
	margin-bottom: 16px;
}

.modal-form {}

.modal-field-container {
	margin-bottom: 8px;
}

.modal-form-label {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8E8F99;
	display: block;
	margin-bottom: 4px;
}

.modal-field {
	position: relative;
}

.modal-input {
	background-color: transparent;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	outline: transparent;
	width: 100%;
	height: 40px;
	padding-left: 38px;
	font-size: 12px;
	
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-svg {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	fill: #2E2F42;
	
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-container {
	margin-bottom: 16px;
}

.modal-textarea {
	width: 100%;
	height: 120px;
	padding: 8px 16px;
	background-color: transparent;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	outline: transparent;
	resize: none;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-checkbox-container {
	margin-bottom: 24px;
}

.modal-checkbox {}

.confidentiality-acceptance {
	line-height: 1.3;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #4d5ae5;
}

.modal-checkbox-container .modal-form-label {
	display: flex;
	align-items: center;
}

.modal-checkbox-svg-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin-right: 8px;

	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	fill: transparent;
	
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-svg {}

.modal-send-button {
	display: block;
	border-radius: 4px;
	padding: 16px 32px;
	min-width: 169px;
	height: 56px;
	margin: auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background: #4d5ae5;
	border: none;

	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #FFFFFF;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cross:hover,
.modal-cross:focus {
	background-color: #404BBF;
	border: none;
}

.modal-cross:hover .modal-cross-svg,
.modal-cross:focus .modal-cross-svg {
	fill: #FFFFFF;
}

.modal-input:focus,
.modal-textarea:focus {
	border: 1px solid #4D5AE5;
	outline: transparent;
}

.modal-input:focus + .modal-field-svg {
	fill: #4D5AE5;
}

.modal-textarea::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox-svg-container:hover {
	cursor: pointer;
}

.modal-checkbox:checked + .modal-form-label .modal-checkbox-svg-container {
	background-color: #404BBF;
	border: none;
	fill: #F4F4FD;
}

.modal-send-button:hover,
.modal-send-button:focus {
	background: #404BBF;
}